.footer {
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 4rem;
  align-items: flex-start;
  color: var(--bg-primary);

  img {
    width: 250px;
    height: auto;
  }

  .copyright {
    color: var(--bg-primary);
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  h3 {
    color: var(--bg-primary);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .middle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-decoration: none;

      &:hover {
        color: var(--secondary-color);
        transition: all 0.3s ease
      }
    }

    .address {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }

    .phone {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }

    .email {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
      color: white;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        color: var(--secondary-color);
        transition: all 0.3s ease
      }
    }
  }

  svg {
    color: var(--bg-primary);
    /* color: var(--secondary-color); */
  }
}

@media (max-width: 968px) {
  .footer {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.5rem;
    text-align: center;

    img {
      width: 180px;
    }

    .logoWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .middle,
    .right {
      width: 100%;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 1.5rem 1rem;
    gap: 1.5rem;

    img {
      width: 150px;
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    .copyright {
      font-size: 0.8rem;
    }

    .middle {
      gap: 0.3rem;

      a {
        font-size: 0.9rem;
      }

      .phone,
      .email {
        gap: 0.4rem;
        font-size: 0.9rem;
      }
    }

    .right {
      gap: 0.3rem;

      a {
        font-size: 0.9rem;
      }
    }

    svg {
      font-size: 1rem;
    }
  }
}
